/* /* The above code is a CSS stylesheet. It defines the styles for various elements and components of
a web page. It includes styles for the sidebar, navbar, main content, tables, and other elements.
The code also includes media queries to make the styles responsive for different screen sizes. */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

@media (min-width: 991px) {
  header.header {
    transition: background-color .1s ease 0s, padding .1s ease 0s;
    animation: mations2 .5s ease;
  }
}

header.header {
  padding: 10px 0;
  /* position: absolute; */
  top: 0 !important;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}

header.header .logo img {
  max-height: 90px;
  width: auto;
  transition: all .4s ease;
}

@media (min-width: 991px) {
  .header-menu {
    position: relative;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav {
    flex: 1;
    display: block;
    overflow-x: hidden;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    white-space: nowrap;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item {
    display: inline-block;
    position: static;
    padding: 0 15px;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.active>a {
    color: #cd9b32;
    border-bottom: 2px solid #cd9b32;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a {
    display: block;
    text-align: left;
    padding: 10px 0px;
    font-size: 18px;
    position: relative;
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid transparent;
  }
}

a {
  transition: all .4s ease;
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega {
    position: static;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a {
    display: block;
    text-align: left;
    padding: 10px 0px;
    font-size: 18px;
    position: relative;
    color: #000;
    font-weight: 700;
    border-bottom: 2px solid transparent;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item .fa-caret-down {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content {
    background: #fff none repeat scroll 0 0;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
    border: 0;
    overflow: hidden;
    white-space: normal;
    border-radius: 5px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@media (min-width: 991px){
.header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item>a.caret-down:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    display: inline-block;
    top: -2px;
    margin-left: 2px;
    margin-top: -6px;
    transition: 0.5s;
}
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level0 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav>ul.item_big>li.nav-item.has-mega .mega-content .level1.item {
    float: left;
    width: calc(100%/4);
    padding: 10px;
    text-align: left;
  }
}

@media (min-width: 991px) {
  .header-menu .header-menu-des .header-nav li li {
    position: relative;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {

  padding: 0 10px
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.section_danhmuc .danhmuc-slider .swiper-slide .thumb {
  overflow: hidden;
}
.section_danhmuc .danhmuc-slider .swiper-slide h3 {
  text-align: center;
  background: rgba(255,255,255,0.68);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  font-weight: 800;
  font-family: 'Playball';
}
.section_danhmuc .danhmuc-slider .swiper-slide h3 a {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.title-index {
  font-size: 50px;
  margin-bottom: 40px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  font-family: 'Playball';
}
.section_flashsale .title-index {
  margin-bottom: 5px;
}
.title-index a, .title-index span {
  display: block;
}
img.lazyload.loaded {
  height: auto;
}
.title-index img {
  display: block;
  margin: auto;
  max-height: 20px;
}
img.lazyload {
  height: 0;
}
header.header .header-control .ul-control {
  display: flex;
  justify-content: end;
  align-items: center;
}
header.header .header-control .ul-control li {
  align-items: center;
  margin-left: 20px;
  position: relative;
}
header.header .header-control .ul-control li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.header .header-control .ul-control li.header-cart {
  position: relative;
}
header.header .header-control .ul-control li {
  align-items: center;
  margin-left: 20px;
  position: relative;
}
:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  font-family: var(--lato);
  transition: .3s ease;
  scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

/* #sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
} */
#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 280px;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}


/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */





/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}




#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .box-info li .text p {
  color: var(--dark);
}





#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data>div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
  padding: 16px 0;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;

}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}


#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */
/* CONTENT */


@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}



@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show~.notification,
  #content nav form.show~.profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}
.footer .mid-footer .thanhtoan li {
  display: inline-block;
  margin-right: 2px;
}
.footer .mid-footer .list-menu li a:hover {
  color: #e4a53d;
}
.footer .mid-footer .list-menu li a {
  font-size: 16px;
  color: #000;
}
.footer .mid-footer .social li {
  display: inline-block;
  margin-right: 10px;
}
.footer #copyright {
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  border-top: 1px solid white;
  text-align: center;
}

/* productDetail */
.flex {
  display: flex;
}
.rqONlU {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}
.XjROLg {
  width: 450px;
  padding: 15px;
  flex-shrink: 0;
}
.rqONlU {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}
.flex-column {
  flex-direction: column;
}
.Kb0wxy, .UJO7PA {
  position: relative;
}
.LsMpPX {
  position: relative;
}
.shopee-image-placeholder {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: rgb(250, 250, 250);
  font-size: 3.8125rem;
}
.shopee-image-placeholder > .icon-default-image, .shopee-image-placeholder > .icon-shopee-tiny {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.05);
  font-size: inherit;
}
.center {
  align-items: center;
}
.gw7bbK, .PVhvG6 {
  position: absolute;
}
.nPzHSH {
  width: 100%;
  max-height: 100%;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: initial;
}
._11mwwv {
  width: 100%;
  /* padding-bottom: 100%; */
  position: relative;
}
.GugGR6, .sHvo1y {
  position: absolute;
  width: 100%;
}
.sHvo1y {
  top: 0;
  left: 0;
  height: 100%;
}
.LmLCVP {
  margin: 5px -5px;
  position: relative;
}
.lnM4pa {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}
.OibNSJ {
  position: relative;
}
.shopee-icon-button {
  border: 1px solid rgba(0, 0, 0, 0.54);
  background-color: initial;
  padding: 0px;
}
.LFMWYe .shopee-svg-icon {
  font-size: 1.25rem;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
.shopee-button-no-outline, .shopee-icon-button, .shopee-image-button {
  outline: none;
  cursor: pointer;
  border: 0px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1) 0s;
}
.LFMWYe .shopee-svg-icon {
  font-size: 1.25rem;
}
.RBf1cu {
  flex: 1 0 auto;
  width: 0;
}
.rqONlU {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}
.swTqJe {
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem 2.1875rem 0 1.25rem;
}
._44qnta {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  margin: 0;
  vertical-align: sub;
  max-height: 3rem;
  line-height: 1.5rem;
  overflow: hidden;
  max-width: 41.5625rem;
  font-size: 1.25rem;
  overflow-wrap: break-word;
}
.wDKg3U {
  font-size: .75rem;
  vertical-align: middle;
}
.KZKfQ\+ {
  position: relative;
  margin-right: 10px;
  border-radius: 2px;
  display: inline-flex;
  transform: translateY(-0.125rem);
}
.\+o886E {
  padding: 15px 20px;
  background: #fafafa;
}
.rqONlU {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}
.y3y6\+j {
  flex-wrap: wrap;
  width: 625px;
  flex-basis: 625px;
  min-height: 1.875rem;
}
/* .Y3DvsN {
  font-size: 1rem;
  text-decoration: line-through;
  color: #929292;
  margin-right: 10px;
} */
.pqTWkA {
  font-size: 1.875rem;
  font-weight: 500;
  color: #ee4d2d;
}
.h-y3ij {
  margin-top: 1.5625rem;
  padding: 0 1.25rem;
} 
.lml8Go {
  align-items: flex-start;
  max-width: 625px;
}
.rY0UiC {
  margin-top: -4px;
  margin-bottom: 25px;
  margin-left: -4px;
  padding: 4px;
  color: #222;
  display: flex;
  align-items: center;
}
.oN9nMU {
  color: #757575;
  width: 110px;
  text-transform: capitalize;
  flex-shrink: 0;
  align-items: center;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
.F6amdq {
  transition: height .5s cubic-bezier(.4,0,.2,1),opacity .5s cubic-bezier(.4,0,.2,1);
  height: auto;
  opacity: 1;
}
._4ZQRNI {
  width: 32.1875rem;
}
.mHANnI {
  display: grid;
  display: -ms-grid;
  grid-template-columns: auto 1fr;
}
.BLuvNY, .WZTmVh {
  grid-row: 1;
  -ms-grid-row: 1;
  margin-bottom: 0.75rem;
}
.BLuvNY {
  justify-self: center;
  -ms-grid-column-align: center;
  grid-column: 1;
  -ms-grid-column: 1;
}
.WZTmVh {
  grid-column: 2;
  -ms-grid-column: 2;
  margin-left: 0.4375rem;
}
._5\+Mddj {
  display: flex;
  align-items: center;
  color: #222;
}
.iuDG9e {
  justify-self: center;
  -ms-grid-column-align: center;
  grid-row: 2;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.iuDG9e>.icon-free-shipping-line, .iuDG9e>.icon-shipping-airplane {
  font-size: 1.25rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  stroke: #000;
}
.cZexSD {
  grid-row: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  margin-left: 0.4375rem;
}
.J9pM3L, .J9pM3L .shopee-drawer__contents {
  display: flex;
}
.J9pM3L {
  align-items: center;
  margin-bottom: 10px;
}
._82o6pM {
  color: #636363;
  width: 110px;
  margin-right: 10px;
  text-transform: capitalize;
}
.nphO3q {
  position: relative;
}
.-BfSMx {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
}
.-BfSMx button {
  background-color: initial;
  border: 0;
}
.jqPI6Z {
  color: #000;
  font-weight: 500;
}
.-BfSMx .icon-arrow-down, .-BfSMx .icon-arrow-up {
  font-size: .625rem;
  fill: #636363;
  margin-left: 5px;
  pointer-events: none;
}
.rY0UiC:last-child {
  margin-bottom: 0;
}
.j9be9C {
  padding-bottom: 15px;
}
.rY0UiC {
  margin-top: -4px;
  margin-bottom: 25px;
  margin-left: -4px;
  padding: 4px;
  color: #222;
  display: flex;
  align-items: center;
}
.oN9nMU {
  color: #757575;
  width: 110px;
  text-transform: capitalize;
  flex-shrink: 0;
  align-items: center;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
.bR6mEk {
  flex-basis: 515px;
  max-width: 515px;
  flex-wrap: wrap;
  max-height: 220px;
  overflow-y: auto;
  margin-top: -8px;
}
.hUWqqt {
  overflow: visible;
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 8px 8px 0 0;
  color: rgba(0,0,0,.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.09);
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
._69cHHm {
  padding-left: 2.5rem;
}
.MUbf4r {
  color: rgba(0,0,0,.26);
  background-color: #fafafa;
  cursor: not-allowed;
}
.I2jugL {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.VmKjB- {
  filter: grayscale(100%);
}
._6lioXX .shopee-input-quantity {
  background: #fff;
}
.ujMPZb {
  display: flex;
  align-items: center;
}
.xNxl-t:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.xNxl-t {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4,0,.6,1);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0,0,0,.8);
  width: 32px;
  height: 32px;
}
.xNxl-t .shopee-svg-icon {
  font-size: 10px;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.VWjjde {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
}
.rqONlU {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}
.ThEIyI {
  padding-left: 1.25rem;
}
.p\+UZsF {
  display: flex;
}
.p\+UZsF .QA-ylc {
  flex-direction: row;
}
.btn-tinted, .btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0;
  background: rgba(255,87,34,.1);
  background: rgba(255,87,34,0.1);
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
}
.p\+UZsF .QA-ylc .tDviDD {
  margin-right: 10px;
  color: (#ee4d2d,#ee4d2d);
  stroke: var(#ee4d2d,#ee4d2d);
  font-size: 1.25rem;
}
.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
}
.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.s9-a-0 {
  padding: 0;
  margin-top: 1.25rem;
}